In [1]:
import pandas as pd

In [2]:
users = {
    'user_id': [5, 6, 6, 8, 4, 4],
    'item': [
        'Smart Crock Pot',
        'Smart Lock',
        'Smart Thermostat',
        'Smart Light Strip',
        'Smart Cat Feeder',
        'Smart Bed'
    ],
    'created_at': [
        '2021-09-18',
        '2021-09-14',
        '2021-09-10',
        '2021-09-29',
        '2021-09-02',
        '2021-09-13'
    ],
    'amount': [698882, 11487, 674762, 630773, 693545, 170249]
}

In [17]:
users_df=pd.DataFrame(users)
users_df['created_at']=pd.to_datetime(users_df['created_at'])
users_df.dtypes

user_id                int64
item                  object
created_at    datetime64[ns]
amount                 int64
dtype: object

In [18]:
users_df=users_df.sort_values(['user_id','created_at'])
users_df

   user_id               item created_at  amount
4        4   Smart Cat Feeder 2021-09-02  693545
5        4          Smart Bed 2021-09-13  170249
0        5    Smart Crock Pot 2021-09-18  698882
2        6   Smart Thermostat 2021-09-10  674762
1        6         Smart Lock 2021-09-14   11487
3        8  Smart Light Strip 2021-09-29  630773

In [19]:
users_df['next_purchase']=users_df.groupby('user_id',as_index=False)['created_at'].shift(-1)
users_df['next_purchase']=pd.to_datetime(users_df['next_purchase'])
users_df

   user_id               item created_at  amount next_purchase
4        4   Smart Cat Feeder 2021-09-02  693545    2021-09-13
5        4          Smart Bed 2021-09-13  170249           NaT
0        5    Smart Crock Pot 2021-09-18  698882           NaT
2        6   Smart Thermostat 2021-09-10  674762    2021-09-14
1        6         Smart Lock 2021-09-14   11487           NaT
3        8  Smart Light Strip 2021-09-29  630773           NaT

In [21]:
users_df[(users_df['next_purchase']-users_df['created_at']).dt.days<=7][['user_id']]

   user_id
2        6