In [2]:
import pandas as pd

In [3]:
customers={
    'customer_id': [1, 2, 3, 4, 5],
    'name': ['Winston', 'Jonathan', 'Annabelle', 'Marwan', 'Khaled']
}

orders = {
    'order_id': [1,2,3,4,5,6,7,8,9,10],
    'order_date': [
        '2020-07-31','2020-07-30','2020-08-29','2020-07-29','2020-06-10',
        '2020-08-01','2020-08-01','2020-08-03','2020-08-07','2020-07-15'
    ],
    'customer_id': [1,2,3,4,1,2,3,1,2,1],
    'product_id': [1,2,3,1,2,1,1,2,3,2]
}

products = {
    'product_id': [1,2,3,4],
    'product_name': ['keyboard','mouse','screen','hard disk'],
    'price': [120,80,600,450]
}

In [13]:
products_df=pd.DataFrame(products)
orders_df=pd.DataFrame(orders)
orders_df,products_df

(   order_id  order_date  customer_id  product_id
 0         1  2020-07-31            1           1
 1         2  2020-07-30            2           2
 2         3  2020-08-29            3           3
 3         4  2020-07-29            4           1
 4         5  2020-06-10            1           2
 5         6  2020-08-01            2           1
 6         7  2020-08-01            3           1
 7         8  2020-08-03            1           2
 8         9  2020-08-07            2           3
 9        10  2020-07-15            1           2,
    product_id product_name  price
 0           1     keyboard    120
 1           2        mouse     80
 2           3       screen    600
 3           4    hard disk    450)

In [14]:
temp_df=orders_df.groupby('product_id',as_index=False)\
                    .agg(recent_order_date=('order_date','max'))
temp_df

   product_id recent_order_date
0           1        2020-08-01
1           2        2020-08-03
2           3        2020-08-29

In [15]:
orders_df=pd.merge(orders_df,temp_df,on='product_id',how='left')

In [16]:
orders_df=orders_df[orders_df['order_date']==orders_df['recent_order_date']]
orders_df

   order_id  order_date  customer_id  product_id recent_order_date
2         3  2020-08-29            3           3        2020-08-29
5         6  2020-08-01            2           1        2020-08-01
6         7  2020-08-01            3           1        2020-08-01
7         8  2020-08-03            1           2        2020-08-03

In [17]:
result_df=pd.merge(orders_df,products_df,on='product_id',how='left')\
                [['product_name','product_id','order_id','order_date']]\
                .sort_values(['product_name','product_id'],ascending=[True,True])
result_df

  product_name  product_id  order_id  order_date
1     keyboard           1         6  2020-08-01
2     keyboard           1         7  2020-08-01
3        mouse           2         8  2020-08-03
0       screen           3         3  2020-08-29