In [1]:
import pandas as pd

In [10]:
data = {
    'user_id': [101, 101, 102, 102, 101, 104, 103],
    'session_start': [
        '2023-11-06 13:53:42',
        '2023-11-22 16:45:21',
        '2023-11-16 13:23:09',
        '2023-11-17 13:23:09',
        '2023-11-20 07:16:06',
        '2023-11-27 03:10:49',
        '2023-11-27 03:10:49'
    ],
    'session_end': [
        '2023-11-06 14:05:42',
        '2023-11-22 20:39:21',
        '2023-11-16 16:10:09',
        '2023-11-17 16:10:09',
        '2023-11-20 08:33:06',
        '2023-11-27 03:30:49',
        '2023-11-27 03:30:49'
    ],
    'session_id': [375, 594, 777, 778, 315, 797, 798],
    'session_type': ['Viewer', 'Streamer', 'Streamer', 'Streamer', 'Streamer', 'Viewer', 'Streamer']
}

In [3]:
sessions = pd.DataFrame(data)
sessions['session_start'] = pd.to_datetime(sessions['session_start'])
sessions['session_end'] = pd.to_datetime(sessions['session_end'])
sessions

   user_id       session_start         session_end  session_id session_type
0      101 2023-11-06 13:53:42 2023-11-06 14:05:42         375       Viewer
1      101 2023-11-22 16:45:21 2023-11-22 20:39:21         594     Streamer
2      102 2023-11-16 13:23:09 2023-11-16 16:10:09         777     Streamer
3      102 2023-11-17 13:23:09 2023-11-17 16:10:09         778     Streamer
4      101 2023-11-20 07:16:06 2023-11-20 08:33:06         315     Streamer
5      104 2023-11-27 03:10:49 2023-11-27 03:30:49         797       Viewer
6      103 2023-11-27 03:10:49 2023-11-27 03:30:49         798     Streamer

In [ ]:
sessions=sessions.sort_values('session_start')
first_val_df=sessions.groupby('user_id',as_index=False).first()[['user_id','session_type']]
first_val_df=first_val_df.rename(columns={'session_type':'first_session_type'})
sessions=pd.merge(sessions,first_val_df,on='user_id',how='left')
result_df=sessions[(sessions['first_session_type']=='Viewer')&(sessions['session_type']=='Streamer')]\
    .groupby('user_id',as_index=False)\
    .agg(sessions_count=('session_type','size'))
result_df

   user_id  sessions_count
0      101               2