In [ ]:
import pandas as pd

In [ ]:
data = {
    'seat_id': [1, 2, 3, 4, 5, 6, 7, 8],
    'free': [1, 0, 1, 1, 1, 0, 1, 1]
}

In [22]:
df = pd.DataFrame(data)
df['row_number'] = df.groupby('free').cumcount()+1
df=df[df['free']==1]
df['grp']=df['seat_id']-df['row_number']
df=df.groupby('grp',as_index=False)\
    .agg(
        first_seat_id=('seat_id','min'),
        last_seat_id=('seat_id','max'),
        consecutive_seats_len=('seat_id','size')
        )
df.sort_values('consecutive_seats_len',ascending=False)

   grp  first_seat_id  last_seat_id  consecutive_seats_len
1    1              3             5                      3
2    2              7             8                      2
0    0              1             1                      1